.DaySelector {
  background-color: transparent;
  border: 1px solid var(--color-text);
  padding: 0.25rem 0.5rem;
  height: 30px;
  color: var(--color-text);
  margin: 0;
}

.DaySelector:global(::-webkit-calendar-picker-indicator) {
  filter: var(--filter-calendar-picker-indicator);
}
